@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --off-white: #FFFAF1;
    --blue: #586994;
    --grey: #7D869C;
    --brown: #342A21;
    --green: #99B8A3;
}

body{
    background-color: var(--off-white);
    margin: 0px
}

a{
    text-decoration: none;
    color: var(--off-white);
}

.text{
    font-family: 'Roboto Condensed';
}

.default-button{
    background-color: var(--green);
    color: var(--off-white);
    border-radius: 16px;
    border-width: 0;
    padding: 7px 5px 7px 5px;
    font-size: 15px;
    cursor: pointer;
}

.logo{
    border-radius: 50%;
    width: 200px;
    z-index: 2;
    position: relative;
    top: 10px;

}

#header-name{
    font-family:'Roboto Condensed';
    position: relative;
    margin-left: 10px;
    top: 24px;
    z-index: 2;
}

#header-name h1 {
    margin-bottom: 0px;
    font-weight:800;
}

#header-name h4 {
    font-style: italic;
    margin-top: 3px;
}

.nav-container{
    position: relative;
    margin-left: 3%;
    margin-top: 70px;
    display: block;
}
.toggle-button {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px;
}

.nav-button{
    background-color: var(--blue);
    color: var(--off-white);
    border-radius: 16px;
    margin-right: 15px;
    width: 120px;
    align-items: baseline;
    padding: 8px 15px 8px 15px;
    border-width: 0px;
    font-size: 15px;
}

/* Toggle Nav */
@media screen and (max-width: 750px) {
    .nav-container {
        display: none;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-bottom: 5%;
        position: absolute;
        left: 25px;
        bottom: 50px;
        
    }

    .nav-button{
        margin-bottom: 5px;
        width: 5%s;
    }

    .toggle-button {
        display: block;
    }
}

.icon{
    border-radius: 100%;
    background-color: var(--blue);
    color: var(--off-white);
    width:3%;
    height: 5%;
    padding: 5px;
}

#sign-up-icon{
    position: absolute;
    top: 8px;
    right: 16px;
}

.header-container{
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.header-border{
    background-color: var(--grey);
    text-align: center;
    font-size: 10px;
    padding: 8px;
    position: relative;
    top: -33px;
    z-index: 1;
}

#toggle-icon{
    display: none;
}

/* Home Body */

#cart-icon{
    position: absolute;
    top: 200px;
    right: 16px;
}

.home-body{
    margin-left: 10px;
    margin-right:10px;
}

.title-box-container{
    position: relative;
    text-align: center;
    background-color: var(--green);
    color: var(--brown);
    font-size: 150px;
    width: 100%;
    margin-top: 50px;   
    border-radius: 25px;
    padding: 20px 0px 15px 0px;
}

/* Need an image before adding this CSS */
/* #home-title-card{
    width: 50%;
    margin-top: 30px;
} */

#title-card-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Best Seller Section */

.best-seller-container{
    margin-top: 15px;
    width: 80%;
    margin: 0 auto;
}

.slideshow-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#next-button{
    height: 0;
    width: 0;
    border-left: 15px solid var(--grey);
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    background-color: var(--off-white);
    margin-left: 20px;
    position: relative;
    top: 110px;
}

#prev-button{
    height: 0;
    width: 0;
    border-right: 15px solid var(--grey);
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    background-color: var(--off-white);
    margin-right: 20px;
    position: relative;
    top: 110px;
}

.slideshow-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product-card{
    background-color: var(--blue);
    width: 190px;
    height: 230px;
    padding: .8em;
    position: relative;
    overflow: visible;
    border-radius: 16px;
    margin-right: 25px;
    margin-left: 20px;
}

.product-image{
    height: 80%;
    width: 100%;
    border-radius: 8px;
}

.product-text{
    color: var(--off-white);
}

#see-more-button{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3%;
}

.pinning-section{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Footer */

footer{
    background: var(--grey);
}

.footer-container{
    margin-left: 15px;
    margin-right: 15px;
    background: var(--grey);
    display: flex;
}

.footer-column-logo{
    float: left;
}

.footer-column-logo p{
    margin-left: 12px;
    color: var(--off-white);
}

.footer-column-links{
    margin-bottom: 4px;
    margin-left: 20px;
    color: var(--off-white);
}

.footer-column-links::after{
    color: var(--off-white);
}

.footer-column-links h4{
    margin-bottom: 6px;
    margin-left: 20px;
}

.footer-column-links li{
    list-style-type: none;
    margin-top: 2px;
}

.footer-column-links ul{
    list-style-type: none;
    text-decoration: none;
    color: var(--off-white);
}

.footer-column-links ul:visited{
    color: var(--off-white);
}

.footer-column-email{
    font-family: 'Roboto Condensed';
    color: var(--off-white);
    position: absolute;
    right: 16px;
}

.footer-column-email h4{
    font-family: 'Roboto Condensed';
    font-size: 15px;
    margin-bottom: 0px;
}

.footer-column-email p{
    font-family: 'Roboto Condensed';
    margin-top: 2px;
    font-size: 12px;
}

.footer-input{
    border-width: 0px;
    border-color: var(--off-white);
}


#logo-footer{
    width: 100px;
}


