@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --off-white: #FFFAF1;
    --blue: #586994;
    --grey: #7D869C;
    --brown: #342A21;
    --green: #99B8A3;
}

body{
    background-color: var(--off-white);
    margin: 0px
}

a{
    text-decoration: none;
    color: var(--off-white);
}

.text{
    font-family: 'Roboto Condensed';
}

.icon{
    border-radius: 100%;
    background-color: var(--blue);
    color: var(--off-white);
    width:3%;
    height: 5%;
    padding: 5px;
}

.default-button{
    background-color: var(--green);
    color: var(--off-white);
    border-radius: 16px;
    border-width: 0;
    padding: 7px 5px 7px 5px;
    font-size: 15px;
    cursor: pointer;
}

.default-button:hover{
    background-color: rgb(109, 149, 122);
}


/* Contact Us Page */

#pageTitle{
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 40px;
    color: var(--brown);
}

.contact-us-format{
    display: flex;
    margin: auto;
    width: 65%;
}

.contact-us-format-col{
    display:flex;
    flex-direction: column;
}

.outer-container{
    background-color: var(--green);
    padding: 30px;
    padding-top: 5px !important;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
}

.outer-container h4{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--brown);
}

.inner-container{
    background-color: var(--off-white);
    padding: 50px;
    border-radius: 16px;
}

.question-form{
    display: block;
}

.question-form input{
    background-color: var(--off-white);
    border-color: var(--brown);
    border-width: 4px;
    border-radius: 10px;
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;;
    padding: 5px;
}

.name-input{
    display: flex;
}

#openText{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-bottom: 45%;
    width: 100%;
}

#submit-button{
    float: right;
}

.contact-container{
    background-color: var(--blue);
    color: var(--off-white);
    padding: 60px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 40px;
}

.contact-container h4{
    text-align: center;
    font-size: 20px;
}

.contact-container h5{
    text-align: center;
    font-size: 15px;
}

.contact-container hr{
    margin:3px;
    border-width: 2px;
    box-shadow: none;
}

.socials-container{
    text-align: center;
    margin-top: 5px;
    color: var(--brown);
}

.instagram, .facebook, .pintrest{
    display: flex;
    margin-left: 10%;
    padding-left: 10px;
}

.insta-icon, .facebook-icon, .pintrest-icon{
    width: 15%;
    margin-bottom: 25px;
    margin-right: 25%;

}